.bg-overlay {
    position: absolute;
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    z-index: -1;
    background-position: center center;

    &__gradient{
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(70, 70, 70, 0.3) 27.57%, rgba(255, 255, 255, 0.3) 100%);
        background-repeat: no-repeat;
    }
}