@use "../helpers" as *;
.burger {   
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    align-items: center;
    cursor: pointer;
    gap: rem(22);
    @include mobile-above {
        display: none;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        row-gap: rem(8);
        width: rem(25);
        height: rem(22);
        &-line{
            width: 100%;
            height: 2px;
            background-color: var(--color-light);
             
        }
    }
  &__text {
     
    position: absolute;
    transform: translateX(300px);
  }
}
