@use "../helpers" as *;
.header {
  &__navigation {
    display: flex;
    position: relative;
    align-items: center;
    padding: fluid(40, 30) 0;
    font-size: fluid(20, 14);
    gap: rem(52);

    @include mobile {
        flex-direction: column;
    }
  }
  &.is-active{
    background-color: var(--color-light);
    color: var(--color-dark);

    & .header__bottom-wrapper {
        position: absolute;
        top: 100px;
        z-index: 100;
        width: calc(100% + rem(30));
        background-color: var(--color-light);
        padding-bottom: rem(30);
    }
    & .header__burger {
        & .burger__text{
            width: auto;
            opacity: 1;
            transition-duration: var(  --transition-duration);
        }
        & .burger__icon{
            &-line {
                transition-duration: var(  --transition-duration);
                background-color: var(--color-dark);
                &:nth-child(3){
                    display: none;
                }
                &:nth-child(1){
                    transform: rotate(-45deg) translate(rem(-12), 0) ;
                }
                &:nth-child(2){
                    
                    transform: rotate(45deg) translate(rem(-6), rem(5));
                }            &:nth-child(3){
                    display: none;
                }
                &:nth-child(1){
                    transform: rotate(-45deg) translate(rem(-12), 0) ;
                }
                &:nth-child(2){
                    
                    transform: rotate(45deg) translate(rem(-6), rem(5));
                }
            }
        }
        
    }
    & .header__logo {
        color: #F2F3EF;
        
    }
    }

  &__menu {
    display: flex;
    flex-grow: 1;
    gap: fluid(40, 15);
    @include mobile {
      flex-direction: column;
    }
  }
  &__button {
    @include mobile {
    border-color: var(--color-dark);
      column-gap: rem(50);
    }
  }
  &__top-wrapper {
    @include mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
  }
  &__text {
    @include mobile-above {
        display: none;
    }
  }
  &__bottom-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
     
    @include mobile {
    
    position: absolute;
     
    top: -200%;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(30);
    }
  }
}
