@use "../helpers" as *;

.roadmap {
  margin-bottom: rem(138);
  &__list {
    position: relative;
    height: rem(470);
    @include tablet {
      display: flex;
      transition: transform var(--transition-duration) ease-in-out;
      margin-bottom: rem(35);
      height: auto;
    }
  }
  &__inner {
    padding: 11px;
  }
  &__item {
    position: absolute;
    display: inline-flex;
    padding: rem(12) rem(15);
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid #fff;
    border-top-left-radius: rem(35);
    border-bottom-right-radius: rem(35);
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    color: #f6ffd2;
    width: auto;
    height: auto;
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.35);
    &:nth-child(1) {
      top: 14px;
      left: 11px;
    }
    &:nth-child(2) {
      top: 261px;
      left: 88px;
    }
    &:nth-child(3) {
      top: 360px;
      left: 438px;
    }
    &:nth-child(4) {
      top: 128px;
      left: 366px;
    }
    &:nth-child(5) {
      top: 58px;
      right: 28px;
    }
    &:nth-child(6) {
      top: 214px;
      right: 166px;
    }
    &::after {
      content: "";
      display: flex;
      position: absolute;
      right: rem(-15);
      top: rem(-14);
      width: rem(18);
      height: rem(31);
      background-image: url(/icons/roadmap-item-icon.svg);
      background-repeat: no-repeat;
      background-position: rem(-12) rem(-11);
      z-index: 111;
    }
    @include tablet {
      position: static;
      flex-shrink: 0;
      width: 100%;
      margin-right: rem(20);
      height: rem(217);
      flex-direction: column;
      gap: rem(20);
    }
  }
  &__line {
    position: absolute;
    z-index: -1;
    &:nth-child(1) {
      top: 101px;
      left: 37px;
    }
    &:nth-child(2) {
      top: 327px;
      left: 269px;
    }
    &:nth-child(3) {
      top: 200px;
      left: 473px;
    }
    &:nth-child(4) {
      top: 67px;
      right: 266px;
    }
    &:nth-child(5) {
      top: 118px;
      right: 14px;
    }
    @include tablet {
      display: none;
    }
  }
  &__text {
    max-width: rem(195);
  }
  &__icon {
    box-sizing: border-box;
    border-radius: 100%;
    background: #5e7600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(51);
    height: rem(51);
    font-size: rem(30);
    line-height: rem(51);
    border: 1px solid var(--color-light);
    @include mobile {
      width: rem(73);
      height: rem(73);
      font-size: rem(42);
    }
  }
  &__button {
    display: none;
    @include mobile {
      position: absolute;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      color: var(--color-light);
      display: flex;
      align-items: center;
      z-index: 10;
      gap: rem(5);
      &-next {
        right: 0;
        bottom: 0;
      }
      &-prev {
        left: 0;
        bottom: 0;
      }
    }
  }
}
