@use "helpers" as *;

:root {
  --color-light: #fff;
  --color-dark: #000;


  --font-family: "Actay", sans-serif;
  --second-family: "Actay Wide", sans-serif;

  --container-width: #{rem(1140)};
  --container-padding-x: #{rem(15)};

  --transition-duration: 0.2s;
}
